@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color: #c27343;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titre-principal{
  text-align: center;
  font-size: 100px;
  color: white;
}

.content{
  width: 70%;
  margin: 2% 10% 5% 10%;
  padding: 50px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px 4px #ff9938;;
}

.img{
  width: 30%;
}

.pres{
  display: flex;
}

.text-pres{
  margin-left: 10%;
}
